# IDE
.idea/

# Kubernetes source code folder
kubernetes/

# Binary result
op-readiness
test.tar.gz
*.DS_Store*
e2e.test

# Sonobuoy results
sonobuoy-results/

# Terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*terraform.lock*
+terraform/jumper/.terraform.lock.hcl